.filter-container {
    position: relative;
    //background-color: #7da6ed;
    //background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}

.image-container {
    background-color: white;
    opacity: 0.7;
}


.filter-form {
    transition: all 0.3s ease-out;

    .mat-card {
        border-radius: 0;
        z-index: 10;
    }
}
