<div class="filter-container">
    <div class="container">
        <form class="filter-form d-flex align-items-center justify-content-center"
              [class.submitted]="submitted"
              (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-select placeholder="Sporto šaka" [formControl]="form.get('types')" multiple>
                    <mat-option *ngFor="let filter of typeFilters" [value]="filter.id">{{filter.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <span class="p-2"></span>

            <mat-form-field>
                <mat-select placeholder="Veiklos vieta" [formControl]="form.get('places')" multiple>
                    <mat-option *ngFor="let filter of placeFilters" [value]="filter.id">{{filter.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <span class="p-2"></span>

            <mat-form-field>
                <mat-select placeholder="Laikas" [formControl]="form.get('times')" multiple>
                    <mat-option *ngFor="let filter of timeFilters" [value]="filter.id">{{filter.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <span class="p-2"></span>

            <mat-form-field>
                <mat-select placeholder="Lytis" [formControl]="form.get('genders')" multiple>
                    <mat-option *ngFor="let filter of genderFilters" [value]="filter.id">{{filter.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <span class="p-2"></span>

            <button mat-raised-button color="primary">IEŠKOTI</button>
        </form>
    </div>
</div>
