.filter {
    max-width: 200px;
    min-width: 200px;
}

.map {
    overflow: hidden;
    display: block;
    min-width: 80%;
    //width: 300px;
    border-left: 1px solid #dee2e6 !important
}

.activity-list {
    overflow: auto;
    max-height: calc(100% - 100px);
}
