<div class="row border mb-3 py-2">
    <div class="col-sm-4">
        <img style="width: 100%; height: 100px"
             src="https://via.placeholder.com/350x150">
        <div class="text-center">{{activity.name}}</div>
    </div>
    <div class="col-sm-4">
        <div>{{activity.price}} EUR</div>
        <div>{{activity.description}}</div>
    </div>
    <div class="col-sm-4">
        <div>{{activity.date}}</div>
        <div>{{activity.duration}}</div>
        <div>{{activity.place}}</div>
    </div>
</div>
