<h2 class="text-center" style="text-transform: uppercase">
    Išbandykite
</h2>

<div class="row">
    <div class="col-sm-4 my-3" *ngFor="let activity of activities">
        <mat-card class="h-100">
            <img mat-card-image [src]="activity.imageSrc" alt="">
            <div class="type-bar">{{activity.type}}</div>
            <mat-card-content>
                <div style="min-height: 40px">
                    <h6 class="text-uppercase">
                        <a [routerLink]="['details', activity.id]">{{activity.name}}</a>
                    </h6>

                    <div class="d-flex font-weight-bold">
                        <div class="text-success pr-2">P</div>
                        <div class="pr-2">A</div>
                        <div class="pr-2">T</div>
                        <div class="pr-2">K</div>
                        <div class="pr-2">P</div>
                        <div class="pr-2">Š</div>
                        <div class="pr-2">S</div>
                    </div>
                    <div class="d-flex">
                        <small class="text-muted font-weight-bold">{{ activity.place }}</small>
                        <span class="ml-auto font-weight-bold text-success">{{ activity.price }} Eur</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
