<h4 class="text-muted">Jums gali patikti</h4>

<div class="row">
    <div class="col-sm-4 my-3" *ngFor="let activity of shownActivities">
        <mat-card class="h-100 pb-2 pt-0">
            <img mat-card-image class="my-0" [src]="activity.imageSrc" alt="" style="max-height: 220px">
            <button mat-mini-fab class="star-button" color="primary" (click)="changeStarState(activity.id)">
                <mat-icon>{{user.starredActivities.includes(activity.id) ? 'star' : 'star_border'}}</mat-icon>
            </button>

            <div class="type-bar">{{activity.type}}</div>
            <mat-card-content class="pt-2">
                <div>
                    <small class="text-muted">{{ activity.place }} <ng-container *ngIf="distances[activity.id] !== undefined">
                        - {{distances[activity.id]}} km
                    </ng-container></small>

                </div>
                <div>
                    <a [routerLink]="['details', activity.id]">{{activity.name}}</a>
                </div>
                <div *ngIf="activity.price" class="text-success">{{ activity.price }} € / mėn</div>
                <div *ngIf="!activity.price" class="text-success">Nemokamai</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
