<mat-toolbar class="landing-page-menu" color="primary">
    <a class="link-unstyled" [routerLink]="['']">Užimtas rytojus</a>
    <div class="flex-fill"></div>
</mat-toolbar>

<div class="landing-section">
    <div class="section-cover">
        <div style="position: relative; overflow: hidden">
            <img class="img img-fluid landing-image"
                 style="object-fit: fill; width: 100%"
                 [src]="backgroundImage">
        </div>

    </div>
    <div class="section-cover filter"></div>
    <div class="section-cover d-flex align-items-center">
        <ur-landing-activity-filter></ur-landing-activity-filter>
    </div>

</div>

<div class="container pt-4">
    <ur-recommended-activities [activities]="activities"></ur-recommended-activities>
</div>

<div class="container pt-4 pb-5">
    <mat-card class="p-0">
        <ur-map-static [activities]="activities"></ur-map-static>
    </mat-card>
</div>
