<div class="landing-section">
    <img class="landing-image" src="https://images.unsplash.com/photo-1502904550040-7534597429ae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d9575e86751b65d41da8dfe6f09e23a&auto=format&fit=crop&w=1549&q=80">
</div>

<ur-activity-filter-v2></ur-activity-filter-v2>

<div class="container pt-4">
    <ur-recommended-activities [activities]="activities"></ur-recommended-activities>
</div>

<div class="container pt-4 pb-5">
    <mat-card class="p-0">
        <ur-map-static [activities]="activities"></ur-map-static>
    </mat-card>
</div>
