<mat-toolbar color="primary">
    <span>Užimtas rytojus</span>
</mat-toolbar>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-4">
            <mat-card>
                <mat-card-title>Filters</mat-card-title>
                <mat-card-content>
                    <ur-activity-filter></ur-activity-filter>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-8">
            <mat-card>
                <mat-card-title>Map</mat-card-title>
                <mat-card-content>
                    <ur-map></ur-map>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

