:host {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    //min-width: 100vw;
    //min-height: 100vh;
    //display: block;
}

.filter {
    max-width: 200px;
    min-width: 200px;
    border-right: 1px solid #dee2e6 !important
}

.activities {
    border-right: 1px solid #dee2e6 !important
}

.map {
    overflow: hidden;
    display: block;
    min-width: 50%;
}
