<div class="container-fluid  h-100">
    <div class="row  h-100">
        <!--<div class="col-sm-auto">-->
            <!--<div class="filter d-flex justify-content-center pt-2" hidden>-->
                <!--<ur-activity-filter></ur-activity-filter>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-sm px-0">
            <div class="activity-list">
                <ur-activity-list></ur-activity-list>
            </div>

        </div>
        <div class="col-sm px-0">
            <ur-map class="map"></ur-map>
        </div>
    </div>
</div>
