<div class="d-flex flex-column h-100">
    <mat-toolbar color="primary">
        <span>Užimtas rytojus</span>
    </mat-toolbar>

    <div class="d-flex flex-fill">
        <div class="filter d-flex justify-content-center p-2">
            <ur-activity-filter></ur-activity-filter>
        </div>
        <div class="activities flex-fill p-2">
            <ur-activity-list></ur-activity-list>
        </div>
        <div class="map flex-fill">
            <ur-map></ur-map>
        </div>
    </div>
</div>
